.category-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  width: 100%;

  margin-bottom: 32px;
  padding: 16px;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-card__title {
  font-family: var(--header-font);
  font-size: 36px;
  font-weight: 500;
  color: #451400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.category-card__content {
  display: flex;
  flex-direction: column;

  border-radius: 5px;

  background: white;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

  overflow: hidden;
}

.category-card__items {
  display: flex;
}

.category-card-item {
  display: flex;
  flex-direction: column;

  width: 240px;
  border: 1px solid #f5f5f5;

  cursor: pointer;
}

.category-card-item__image-wrapper {
  display: flex;
  align-items: center;
  padding: 7.5px;
  height: 240px;
  width: 240px;
}

.category-card-item__image {
  width: 100%;
  height: auto;
}

.category-card-item__name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 16px;
  font-size: 17px;
}

.category-card__button {
  border-radius: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .category-card__title {
    font-size: 28px;
  }

  .category-card__items {
    flex-direction: column;
  }
}
