.location-grid {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  flex-wrap: wrap;

  width: 100%;
  max-width: 1140px;

  margin-top: 16px;
  padding: 16px;
}

.location-grid::after {
  content: "";
  flex: auto;
}

/* LocationCard */

.location-card {
  display: flex;
  flex-direction: column;

  width: calc(50% - 7.5px);
  max-width: 570px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #e9e9e9;

  background: var(--white);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.2s;
}

.location-card:nth-child(2n) {
  margin-right: 0;
}

.location-card__content {
  flex: 1;
  display: flex;

  padding: 0 0 15px 0;

  line-height: 1.5em;
}

.location-card__image {
  height: 180px;
  width: 180px;
  margin-right: 15px;

  background-position: center;
  object-fit: cover;

  opacity: 0.9;
}

.location-card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.location-card__title {
  display: inline-flex;
  padding-bottom: 1px;
  margin-bottom: 5px;
  border-bottom: 3px solid transparent;

  font-family: var(--header-font);
  font-size: 24px;
  font-weight: 500;
  color: var(--brown);
  text-transform: uppercase;

  cursor: pointer;

  transition: border-bottom-color 0.4s;
}

.location-card__title:hover {
  border-bottom: 3px solid var(--red);
}

.location-card__data-point {
  font-size: 15px;
}

.location-card__hours {
  margin-bottom: 15px;

  font-size: 16px;
  font-weight: bold;
  color: #009b72;
  /*color: #f96e46;*/
}

.location-card__city {
  font-weight: bolder;
}

.location-card__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-card__action {
  flex: 1;

  height: 35px;
  margin-right: 10px;
  border-radius: 20px;
  padding-top: 0;
  padding-bottom: 0;

  line-height: 37px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.location-card__action:last-child {
  margin-right: 0;
}

.location-card__order-button {
  min-width: 180px;
}

.location-card__directions-button,
.location-card__details-button {
  font-size: 16px;
}

@media only screen and (min-width: 320px) and (max-width: 480px),
  (min-width: 321px) and (max-width: 680px) and (orientation: landscape),
  (max-width: 1024px) {
  .location-grid {
    flex-direction: column;
  }

  .location-card {
    width: 100%;
    margin-right: 0;
  }

  .location-card__content {
    flex-direction: column;
  }

  .location-card__image {
    height: 120px;
    width: 100%;
    margin-bottom: 16px;
  }

  .location-card__actions {
    /*flex-direction: column;*/
    flex-wrap: wrap;

    /*background: yellow;*/
  }

  .location-card__order-button {
    width: 100%;
  }

  .location-card__directions-button,
  .location-card__details-button {
    width: 50%;
    margin-top: 16px;
  }
}
