.hyperlink {
  font-family: var(--core-font);
}

.hyperlink,
.hyperlink:active,
.hyperlink:visited {
  color: var(--white);
}

.hyperlink:hover {
  color: #70f8ba;
}

.spinner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
}
