.reminder {
  padding: 24px;
  color: var(--white);
  font-size: 16px;
  font-family: var(--core-font);
}

.reminder h1 {
  margin-top: 0;
  color: var(--white);
}

.reminder h2 {
  color: var(--white);
}

.reminder li {
  margin-bottom: 16px;
}

.reminder i {
  color: var(--sky-blue);
  font-style: normal;
}

.reminder strong {
  color: #ffa69e;
}

.reminder pre {
  padding: 24px;
  background: var(--rich-brown);
  font-family: var(--mono-font);
  line-height: 24px;

  overflow: hidden;
}

.reminder code {
  font-family: var(--mono-font);
  color: #ffcb77;
}

.reminder li > ul {
  margin-top: 24px;
}

.reminder-hyperlink {
  font-family: var(--core-font);
  text-decoration: underline;
}

.reminder-hyperlink,
.reminder-hyperlink:active,
.reminder-hyperlink:visited {
  color: var(--lime-green);
}

.reminder-hyperlink:hover {
  color: var(--lime-green);
}
