.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  flex: 1;
  display: flex;
  flex-direction: column;

  background: var(--dark-brown);

  max-width: 1200px;

  color: var(--white);
  line-height: 1.4em;
  font-size: 13px;
}

.footer__row {
  display: flex;

  width: 100%;
}

.footer__cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px;
}

.footer__cell--sm {
  flex: 1;
}

.footer__cell--xl {
  flex: 3;
}

.footer__cell--center {
  align-items: center;
}

.footer__cell--right {
  align-items: flex-end;
}

.footer__cell--left {
  align-items: flex-start;
}

.footer__text-block {
  margin: 0 0 10px;
  font-size: 16px;

  color: var(--white);
}

.footer__small-text-block {
  font-size: 13px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: right;
  list-style: none;
  padding: 0;
}

.footer__logo {
  align-self: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer__logo-image {
  width: 20px;
  margin-right: 10px;
}

.footer__cta-button {
  font-size: 13px;
  text-transform: capitalize;
  background-color: var(--green);
}

.footer-hyperlink {
  font-family: var(--core-font);
}

.footer-hyperlink,
.footer-hyperlink:active,
.footer-hyperlink:visited {
  color: var(--white);
}

.footer-hyperlink:hover {
  color: var(--lime-green);
}

@media only screen and (min-width: 320px) and (max-width: 480px),
  (min-width: 321px) and (max-device-width: 680px) and (orientation: landscape),
  (max-width: 1024px) {
  .footer {
    padding: 10px;
  }
  .footer__row {
    flex-direction: column;
    align-items: center;
  }

  .footer__text-block {
    width: 100%;
    text-align: center;
  }

  .footer__small-text-block {
    width: 100%;
    text-align: center;
  }

  .footer__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__list-item {
    text-align: center;
    margin: 0 15px 15px 15px;
  }

  .footer__list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
